.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.nav-tabs {
    margin-bottom: 20px;
}

#blurred-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

#centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background-image: var(--bs-gradient);
    margin-top: 100px !important;
}

#bmr{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bs-gradient);
}