body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#navbar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#navbar .navbar-collapse {
    display: flex;
    justify-content: center;
}
  
#navbar .navbar-nav {
    text-align: center;
}
  
#navbar .navbar-nav .nav-item {
    display: inline-block;
}

#aboutMeMenu {
    display: none;
    position: absolute;
    background: rgb(255, 125, 125);
    border: 1px solid #ccc;
}

#aboutMeMenu .dropdown-item {
    color: white;
}
  
  
#aboutMeLink:hover + #aboutMeMenu,
#aboutMeMenu:hover {
    display: block;
}

#aboutMeLink:hover{
    color: rgb(255, 87, 87) !important;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu li a:hover{
    background: none;
}

#nav-item:hover{
    color: rgb(255, 87, 87) !important;
}

#navbarNavDropdown{
    margin-right: 290px;
}

#h1{
    color: white;
    font-size: 60px;
    margin-left: 190px;
    display: block;
}

#contact-me{
    background-color: rgb(255, 87, 87);
    margin-left: 190px;
}

#contact-me a{
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: "serif";
}

#textAboutMe{
    color: white;
    margin-top: 50px;
    margin-left: 200px;
}

#ABOUTME{
    color: rgb(255, 50, 50);
    margin-left: 200px;
    margin-top: 100px;

}

#container{
    padding-bottom: 60px;
    background-color: #5A4FCF;
}

#EXPERIENCES{
    color: rgb(255, 50, 50);
    margin-left: 20px;
    margin-top: 100px;
}

#card:hover{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
}

#card{
    padding: 14px;
}

#bodyLog{
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

section{
    margin-bottom: 120px;
}